@model IEnumerable<EventFlow.Application.DTOs.ProjetoDecoracao.ProjetoDecoracaoDto>

<h1>Projetos 3D</h1>

<a asp-action="Create"
   class="btn btn-primary mb-3">
    Novo Projeto
</a>

<table class="table">

    <thead>
        <tr>
            <th>Nome</th>
            <th>Observações</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Observacoes</td>
            </tr>
        }

    </tbody>

</table>