@model IEnumerable<EventFlow.Application.DTOs.CategoriaOrcamento.CategoriaOrcamentoDto>

@{
    ViewData["Title"] = "Categorias";
}

<h1>Categorias</h1>

<a asp-action="Create"
   class="btn btn-primary mb-3">
    Nova Categoria
</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
            </tr>
        }
    </tbody>
</table>