@model EventFlow.Application.DTOs.EquipeEvento.CriarEquipeEventoDto

<h1>Montar Equipe</h1>

<form asp-action="Create" method="post">

    <input asp-for="EventoId" type="hidden" />

    <table class="table" id="tabelaEquipe">

        <thead>
            <tr>
                <th>Colaborador</th>
                <th>Valor</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    <select name="Itens[0].ColaboradorId"
                            class="form-select"
                            asp-items="ViewBag.Colaboradores">
                    </select>
                </td>

                <td>
                    <input name="Itens[0].ValorPagamento"
                           class="form-control" />
                </td>

                <td>
                    <button type="button"
                            class="btn btn-danger remover">
                        X
                    </button>
                </td>
            </tr>
        </tbody>

    </table>

    <button type="button"
            id="addLinha"
            class="btn btn-secondary">
        Adicionar
    </button>

    <button type="submit"
            class="btn btn-success">
        Salvar
    </button>

</form>

<script>
    let index = 1;

    document.getElementById("addLinha")
        .addEventListener("click", function () {

            const linha = `
            <tr>
                <td>
                    <select name="Itens[${index}].ColaboradorId"
                            class="form-select">
                        @foreach (var item in ViewBag.Colaboradores)
                        {
                                <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                </td>

                <td>
                    <input name="Itens[${index}].ValorPagamento"
                           class="form-control" />
                </td>

                <td>
                    <button type="button"
                            class="btn btn-danger remover">X</button>
                </td>
            </tr>`;

            document.querySelector("#tabelaEquipe tbody")
                .insertAdjacentHTML("beforeend", linha);

            index++;
        });

    document.addEventListener("click", function (e) {
        if (e.target.classList.contains("remover")) {
            e.target.closest("tr").remove();
        }
    });
</script>