@model EventFlow.Application.DTOs.MovimentacaoFinanceira.AtualizarMovimentacaoFinanceiraDto

<h1>Editar Movimentação</h1>

<form asp-action="Edit" method="post">

    <input asp-for="Id" type="hidden" />

    <div class="mb-3">
        <label>Descrição</label>
        <input asp-for="Descricao"
               class="form-control" />
    </div>

    <div class="mb-3">
        <label>Valor</label>
        <input asp-for="Valor"
               class="form-control" />
    </div>

    <div class="mb-3">
        <label>Tipo</label>
        <select asp-for="Tipo"
                class="form-select">
            <option value="1">Entrada</option>
            <option value="2">Saída</option>
        </select>
    </div>

    <button class="btn btn-success">
        Atualizar
    </button>

</form>