@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">

    <div class="text-center mb-5">
        <h1 class="display-4">
            EventFlow
        </h1>

        <p class="lead">
            Gestão de eventos, propostas e operação.
        </p>
    </div>

    <div class="row g-4">

        <div class="col-md-3">
            <div class="card shadow-sm">
                <div class="card-body text-center">

                    <h5 class="card-title">
                        Clientes
                    </h5>

                    <p class="card-text">
                        Cadastro de clientes.
                    </p>

                    <a asp-controller="Cliente"
                       asp-action="Index"
                       class="btn btn-primary">
                        Acessar
                    </a>

                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow-sm">
                <div class="card-body text-center">

                    <h5 class="card-title">
                        Eventos
                    </h5>

                    <p class="card-text">
                        Gestão de eventos.
                    </p>

                    <a asp-controller="Evento"
                       asp-action="Index"
                       class="btn btn-primary">
                        Acessar
                    </a>

                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow-sm">
                <div class="card-body text-center">

                    <h5 class="card-title">
                        Categorias
                    </h5>

                    <p class="card-text">
                        Categorias do orçamento.
                    </p>

                    <a asp-controller="CategoriaOrcamento"
                       asp-action="Index"
                       class="btn btn-primary">
                        Acessar
                    </a>

                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow-sm">
                <div class="card-body text-center">

                    <h5 class="card-title">
                        Propostas
                    </h5>

                    <p class="card-text">
                        Gestão de propostas.
                    </p>

                    <a asp-controller="Proposta"
                       asp-action="Index"
                       class="btn btn-primary">
                        Acessar
                    </a>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow-sm">
                <div class="card-body text-center">

                    <h5 class="card-title">
                        Visita Técnica
                    </h5>

                    <p class="card-text">
                        Gestão de visitas técnicas.
                    </p>

                    <a asp-controller="VisitaTecnica"
                       asp-action="Index"
                       class="btn btn-primary">
                        Acessar
                    </a>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow-sm">
                <div class="card-body text-center">

                    <h5 class="card-title">
                        Decoracao
                    </h5>

                    <p class="card-text">
                        Gestão de decoração.
                    </p>

                    <a asp-controller="ProjetoDecoracao"
                       asp-action="Index"
                       class="btn btn-secondary">
                        Projetos 3D
                    </a>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow-sm">
                <div class="card-body text-center">

                    <h5 class="card-title">
                        Gestão de funções da equipe
                    </h5>

                    <p class="card-text">
                        Gestão de funções.
                    </p>

                    <a asp-controller="Funcao"
                       asp-action="Index"
                       class="btn btn-primary">
                        Acessar
                    </a>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow-sm">
                <div class="card-body text-center">

                    <h5 class="card-title">
                        Gestão de colaboradores
                    </h5>

                    <p class="card-text">
                        Gestão de colaboradores.
                    </p>

                    <a asp-controller="Colaborador"
                       asp-action="Index"
                       class="btn btn-primary">
                        Colaboradores
                    </a>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow-sm">
                <div class="card-body text-center">

                    <h5 class="card-title">
                        Gestão de Equipe
                    </h5>

                    <p class="card-text">
                        Gestão de equipe para evento.
                    </p>

                    <a asp-controller="EquipeEvento"
                       asp-action="Index"
                       class="btn btn-primary">
                        Equipes
                    </a>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow-sm">
                <div class="card-body text-center">

                    <h5 class="card-title">
                        Gestão de Fornecedores
                    </h5>

                    <p class="card-text">
                        Gestão de fornecedores para evento.
                    </p>

                    <a asp-controller="Fornecedor"
                       asp-action="Index"
                       class="btn btn-outline-primary">
                        Fornecedores
                    </a>

                </div>
            </div>
        </div>
        <li class="nav-item">
            <a class="nav-link text-dark"
               asp-controller="Calendario"
               asp-action="Index">
                Calendário
            </a>
        </li>
    </div>

</div>