@model EventFlow.Application.DTOs.VisitaTecnica.CriarVisitaTecnicaDto

<h1>Agendar Visita Técnica</h1>

<form asp-action="Create" method="post">

    <div class="mb-3">
        <label>Proposta</label>
        <select asp-for="PropostaId"
                asp-items="ViewBag.Propostas"
                class="form-select">
        </select>
    </div>

    <div class="mb-3">
        <label>Data</label>
        <input asp-for="DataAgendada"
               type="datetime-local"
               class="form-control" />
    </div>

    <div class="mb-3">
        <label>Responsável</label>
        <input asp-for="Responsavel"
               class="form-control" />
    </div>

    <div class="mb-3">
        <label>Observações</label>
        <textarea asp-for="Observacoes"
                  class="form-control">
        </textarea>
    </div>

    <button class="btn btn-success">
        Salvar
    </button>

</form>